body {
  background-color: #90a081;
}
button {
  background-color: #ffc107;
  border: none;
  border-radius: 6px;
}
aside {
  background-color: #f1ac7b;
}
li {
  padding: 15px;
}

.consola {
  height: 300px;
  width: 400px;
  background-color: #1e1e1e;
  color: #0dbc6a;
  font-size: small;
  overflow-y: scroll;
}

pre {
  color: #0dbc6a;
}
